<script src="../scripts/home.js" defer></script>
<link rel="stylesheet" href="../styles/pokemons.css">
<div class="pokemon-containers">
    <div class="search">
        <input class="pokemon-search" type="text" id="search" placeholder="Rechercher un pokémon">
        <img class="type-one"></img>
        <img class="type-two"></img>
    </div>
    <div class="pokemon-list">
    </div>
    <div class="pagination">
        <button class="previous" id="previous">Précédent</button>
        <span class="page" id="page">1</span>
        <button class="next" id="next">Suivant</button>
    </div>
</div>
<div class="pokemon-panel">
    
</div>